.logo {
  width: 160px;
  height: 160px;
  margin-left: 40px;
  margin-top: 40px;
}

.header .MuiPaper-root {
  background-color: transparent;
}

.header .side-link {
  color: #efa32f;
}

.header .drawer-root {
  height: 100vh;
  /* background-color: #6e1414; */
  background-color: #303030;
}

main.MuiBox-root {
  height: 100vh;
  overflow: auto;
}
