.logo {
  width: 160px;
  height: 160px;
  margin-left: 20px;
}

.header .MuiPaper-root {
  height: 100px;
  background-color: #832121;
}

.header,
.MuiToolbar-root {
  height: 100px;
  background-color: #832121;
}

.rainbow {
  color: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
}
